footer {
  color: #fff;
  background: #000;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  height: 350px;
  position: relative;
  bottom: 0;
}

.footer-section {
  margin-top: 100px;
  padding: 60px 180px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: baseline;
}

/* Logo and others styling */

.logo-others {
  text-align: left;
}

.logo-others h4 {
  font-size: 2rem;
}

.logo-others .nav-btm-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: -55px;
}

/* Social media handle and others styling */
.social-others {
  text-align: right;
}

.icon {
  margin-left: 10px;
}

@media (max-width: 600px) {
  footer {
    height: 30%;
    overflow: hidden;
    margin-top: 100px;
  }
  .footer-section {
    width: 100%;
    text-align: center;
    margin: auto;
    flex-direction: column;
    /* align-items: center; */
  }

  .logo-others h4 {
    display: none;
  }

  .logo-others {
    display: none;
  }

  .nav-btm-items {
    flex-direction: column;
    margin: 3rem auto;
  }

  .nav-btm-items .nav-item {
    margin: 10px 0;
  }

  .social-others {
    text-align: center;
  }

  .icon {
    margin-left: 10px;
  }
}
